<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    <div class="container">
      {% include "navbar.html" %}
      <div class="main-table">
        <section class="table-header">
          <h2>429 - Too Many Requests</h2>
        </section>
        <div class="isclaimers">
          <p>
            <strong> You have sent too many requests in a short period of time. <br> To ensure fair usage, request limits are applied to this system. <br> Please wait a moment before trying again. <br> Thank you for your patience and for visiting Ancient Ruins Clan Website! </strong>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>