<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
  <div class="container">
    {% include "navbar.html" %}

    <div class="main-table">
      <section class="table-header">
        <h2>500 - Internal Server Error</h2>
      </section>

      <div class="isclaimers">
        <p>
          <strong>
            Sorry! It looks like there was an issue on our end while processing your request.<br>
            This could be due to a temporary glitch, a server error, or a configuration problem.<br>
            Thank you for visiting Ancient Ruins Clan Website!
          </strong>
        </p>
      </div>
    </div>
  </div>
</body>
</html>