<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Ancient Ruins</title>
      <style>
         {% include 'style.css' %}
      </style>
      <link rel="icon" href="/static/clan-badge_16.png">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
   </head>
   <body>
      <div class="container">

         <!-- Include the navbar -->
         {% include "navbar.html" %}

         <div class="main-table">
            <section class="table-header">
               <h2>404 - Page Not Found</h2>
            </section>
            <div class="isclaimers">
              <p>
                <strong>
                The page you were trying to reach does not exist or has been moved.<br>
               You can use the navigation bar above to continue exploring the website.<br>
               Thank you for visiting Ancient Ruins Clan Website!
              </strong>
               </p>
            </div>
         </div>
      </div>
   </body>
</html>