<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    <div class="container">
      {% include 'navbar.html' %}
      <div class="main-table">
        <section class="table-header">
          <h2>Clan Details</h2>
        </section>
        <div class="isclaimers">
          <p>
            <a href="https://coc-ancient-ruins-website.onrender.com/coc-data/clan-details">https://coc-ancient-ruins-website.onrender.com/coc-data/clan-details</a>
          </p>
        </div>
      </div>
      <div class="main-table">
        <section class="table-header">
          <h2>Clan Search Results</h2>
        </section>
        <div class="isclaimers">
          <p>
            <a href="https://coc-ancient-ruins-website.onrender.com/coc-data/clan-search">https://coc-ancient-ruins-website.onrender.com/coc-data/clan-search</a>
          </p>
        </div>
      </div>
      <div class="main-table">
        <section class="table-header">
          <h2>Capital Raid Seasons</h2>
        </section>
        <div class="isclaimers">
          <p>
            <a href="https://coc-ancient-ruins-website.onrender.com/coc-data/capital-raids">https://coc-ancient-ruins-website.onrender.com/coc-data/capital-raids</a>
          </p>
        </div>
      </div>
      <div class="main-table">
        <section class="table-header">
          <h2>War Log</h2>
        </section>
        <div class="isclaimers">
          <p>
            <a href="https://coc-ancient-ruins-website.onrender.com/coc-data/war-log">https://coc-ancient-ruins-website.onrender.com/coc-data/war-log</a>
          </p>
        </div>
      </div>
      <div class="main-table">
        <section class="table-header">
          <h2>Clan Players</h2>
        </section>
        <div class="isclaimers">
          <p>
            <a href="https://coc-ancient-ruins-website.onrender.com/coc-data/clan-players">https://coc-ancient-ruins-website.onrender.com/coc-data/clan-players</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>