<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Ancient Ruins [Graphs]</title>
      <style>
         {% include 'style.css' %}
      </style>
      <link rel="icon" href="../static/clan-badge_15.png">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
   </head>
   <body>
      <div class="container">
         <nav class="navbar">
             <!-- Home -->
             <a href="https://coc-ancient-ruins-website.onrender.com/" class="nav-item">
                 <img src=".././static/home_img.png" alt="Home" class="nav-icon">
             </a>

             <!-- API -->
             <div class="dropdown">
                 <a class="nav-item">
                     <img src=".././static/api_img.png" alt="API" class="nav-icon">
                 </a>
                 <div class="dropdown-content">
                     <a href="https://coc-ancient-ruins-website.onrender.com/api/mem">Clan Members API</a>
                     <a href="https://coc-ancient-ruins-website.onrender.com/api/fmem">Former Members API</a>
                     <a href="https://raw.githubusercontent.com/Lightning-President-9/ClanDataRepo/main/Clan%20Members/JSON/JUL_2024.json">Clan Members JSON</a>
                     <a href="https://raw.githubusercontent.com/Lightning-President-9/ClanDataRepo/main/Former%20Clan%20Members/JSON/JUL_2024.json">Former Clan Members JSON</a>
                 </div>
             </div>

             <!-- Graph -->
             <div class="dropdown">
                 <a class="nav-item">
                     <img src=".././static/graph_img.png" alt="Graph" class="nav-icon">
                 </a>
                 <div class="dropdown-content">
                     <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem">Clan Members Graph</a>
                     <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem">Former Clan Members Graph</a>
                 </div>
             </div>

             <!-- GitHub -->
             <div class="dropdown">
                 <a class="nav-item">
                     <img src=".././static/github_img.png" alt="GitHub" class="nav-icon">
                 </a>
                 <div class="dropdown-content">
                     <a href="https://github.com/Lightning-President-9/coc-ancient-ruins-website">Website Repo</a>
                     <a href="https://github.com/Lightning-President-9/ClanDataRepo">Clan Data Repo</a>
                     <a href="https://github.com/Lightning-President-9/ClanDataRetriveFromAPI">API Retrieve Repo</a>
                 </div>
             </div>

             <!-- Invite -->
             <a href="https://link.clashofclans.com/en?action=OpenClanProfile&tag=2PP0P22CQ" class="nav-item">
                 <img src=".././static/invite_img.png" alt="Invite" class="nav-icon"> <!-- Replace with actual image source -->
             </a>

             <!-- Discord -->
             <a href="https://discord.gg/5CFpPmA2Gv" class="nav-item">
                 <img src=".././static/discord_img.png" alt="Discord" class="nav-icon"> <!-- Replace with actual image source -->
             </a>
         </nav>
      <div class="main-table">
         <section class="table-header">
            <h2>Former Members Graphs</h2>
         </section>
         <div class="isclaimers">
             <ul>
                 <li><strong>Bar Graph: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/bar" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/bar</a></strong></li>
                 <li><strong>Pie Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/piechart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/piechart</a></strong></li>
                 <li><strong>Line Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/linechart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/linechart</a></strong></li>
                 <li><strong>Scatter Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/scatterplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/scatterplot</a></strong></li>
                 <li><strong>Histogram: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/histogram" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/histogram</a></strong></li>
                 <li><strong>Box Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/boxplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/boxplot</a></strong></li>
                 <li><strong>Violin Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/violinplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/violinplot</a></strong></li>
                 <li><strong>Heatmap: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/heatmap" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/heatmap</a></strong></li>
                 <li><strong>Treemap: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/treemap" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/treemap</a></strong></li>
                 <li><strong>Sunburst Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/sunburstchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/sunburstchart</a></strong></li>
                 <li><strong>Density Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/densityplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/densityplot</a></strong></li>
                 <li><strong>3D Scatter Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/3dscatterplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/3dscatterplot</a></strong></li>
                 <li><strong>Area Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/areagraph" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/areagraph</a></strong></li>
                 <li><strong>Polar Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/polarchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/polarchart</a></strong></li>
                 <li><strong>Funnel Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/funnelchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/funnelchart</a></strong></li>
                 <li><strong>Waterfall Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/waterfallchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/waterfallchart</a></strong></li>
             </ul>
         </div>
      </div>
     </div>
   </body>
</html>