<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Ancient Ruins [Graphs]</title>
      <style>
         {% include 'style.css' %}
      </style>
      <link rel="icon" href="../static/clan-badge_15.png">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
   </head>
   <body>
      <div class="container">
      <div class="main-table">
         <section class="table-header">
            <h2>Former Members Graphs</h2>
         </section>
         <div class="isclaimers">
             <ul>
                 <li><strong>Bar Graph: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/bar" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/bar</a></strong></li>
                 <li><strong>Pie Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/piechart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/piechart</a></strong></li>
                 <li><strong>Line Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/linechart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/linechart</a></strong></li>
                 <li><strong>Scatter Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/scatterplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/scatterplot</a></strong></li>
                 <li><strong>Histogram: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/histogram" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/histogram</a></strong></li>
                 <li><strong>Box Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/boxplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/boxplot</a></strong></li>
                 <li><strong>Violin Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/violinplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/violinplot</a></strong></li>
                 <li><strong>Heatmap: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/heatmap" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/heatmap</a></strong></li>
                 <li><strong>Treemap: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/treemap" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/treemap</a></strong></li>
                 <li><strong>Sunburst Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/sunburstchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/sunburstchart</a></strong></li>
                 <li><strong>Density Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/densityplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/densityplot</a></strong></li>
                 <li><strong>3D Scatter Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/3dscatterplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/3dscatterplot</a></strong></li>
                 <li><strong>Area Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/areagraph" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/areagraph</a></strong></li>
                 <li><strong>Polar Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/polarchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/polarchart</a></strong></li>
                 <li><strong>Funnel Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/funnelchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/funnelchart</a></strong></li>
                 <li><strong>Waterfall Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem/waterfallchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/fmem/waterfallchart</a></strong></li>
             </ul>
         </div>
      </div>
     </div>
   </body>
</html>