<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ancient Ruins [{{ graph_name }}]</title>
  <link rel="icon" href="/static/clan-badge_16.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">

  <style>
    {% include "graph.css" %}
  </style>

  <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
</head>
<body>
  {% include "navbar.html" %}

  <h1>Graphs - {{ month_year }}</h1>

  <div id="controls-container">
    <form id="fetch-data-form" method="GET">
      <select id="month-year-select" name="month-year" aria-label="Select month">
        <option value="JUL_2024">July 2024</option>
        <option value="AUG_2024">August 2024</option>
        <option value="SEP_2024">September 2024</option>
        <option value="OCT_2024">October 2024</option>
        <option value="NOV_2024">November 2024</option>
        <option value="DEC_2024">December 2024</option>
        <option value="JAN_2025">January 2025</option>
        <option value="FEB_2025">February 2025</option>
        <option value="MAR_2025">March 2025</option>
        <option value="APR_2025">April 2025</option>
        <option value="MAY_2025">May 2025</option>
        <option value="JUN_2025">June 2025</option>
        <option value="JUL_2025">July 2025</option>
      </select>
      <button type="submit" id="fetch-button">Fetch Data</button>
    </form>
  </div>

  <div id="charts-container"></div>

  <script>
    {% include "graph.js" %}
  </script>
</body>
</html>