<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Ancient Ruins</title>
      <style>
         {% include 'style.css' %}
      </style>
      <link rel="icon" href="static/clan-badge_14.png">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
   </head>
   <body>
      <div class="container">
      <main class="main-clan-table">
         <section class="table-header">
            <h2>Ancient Ruins</h2>
         </section>
         <div class="data-box">
         <div class="img-box">
            <div class="img">
               <img src="static/clan-badge_14.png" alt="Clan-Badge-Image"/>
            </div>
            <div class="p-data">
               <strong>
                  <p><u>SINCE WHEN HAS DATA BEEN RECORDED</u></p>
                  <p>WAR SINCE 15TH OCTOBER 2022</p>
                  <p>CLAN CAPITAL SINCE 21ST FEBRUARY 2023</p>
                  <p>CLAN GAMES SINCE 28TH FEBRUARY 2023</p>
               </strong>
            </div>
         </div>
         <section class="table-body">
            <table>
               <thead>
                  <tr>
                     <td><strong>Clan Name:</strong></td>
                     <th>Ancient Ruins</th>
                  </tr>
                  <tr>
                     <td><strong>Clan Level:</strong></td>
                     <th>14</th>
                  </tr>
                  <tr>
                     <td><strong>Clan Tag:</strong></td>
                     <th>#2PPOP22CQ</th>
                  </tr>
                  <tr>
                     <td><strong>Description:</strong></td>
                     <th>Be active and chat with respect.You will be KICKED,if you are not active.Website Link:https://coc-ancient-ruins-website.onrender.com</th>
                  </tr>
                  <tr>
                     <td><strong>Clan War League:</strong></td>
                     <th>Gold League I</th>
                  </tr>
                  <tr>
                     <td><strong>Clan Capital League:</strong></td>
                     <th>Gold League I</th>
                  </tr>
                  <tr>
                     <td><strong>Clan Location:</strong></td>
                     <th>International</th>
                  </tr>
                  <tr>
                     <td><strong>Chat Language:</strong></td>
                     <th>English</th>
                  </tr>
                  <tr>
                     <td><strong>Type:</strong></td>
                     <th>Anyone can join</th>
                  </tr>
                  <tr>
                     <td><strong>Required Trophies For Main Base:</strong></td>
                     <th>1900</th>
                  </tr>
                  <tr>
                     <td><strong>Required Trophies For Builder Base:</strong></td>
                     <th>0</th>
                  </tr>
                  <tr>
                     <td><strong>Required Town Hall Level:</strong></td>
                     <th>10</th>
                  </tr>
                  <tr>
                     <td><strong>Wars Won:</strong></td>
                     <th>134</th>
                  </tr>
                  <tr>
                     <td><strong>Clan Leader:</strong></td>
                     <th>KAI HIWATARI</th>
                  </tr>
                  <tr>
                     <td><strong>War Frequency:</strong></td>
                     <th>Always</th>
                  </tr>
               </thead>
            </table>
         </section>
      </main>
      <div class="main-table">
         <section class="table-header">
            <h2>Clan Link</h2>
         </section>
         <div class="isclaimers">
            <p><strong><a href="https://link.clashofclans.com/en?action=OpenClanProfile&tag=2PP0P22CQ" target="_blank" rel="TEST">https://link.clashofclans.com/en?action=OpenClanProfile&tag=2PP0P22CQ</a>
               </strong>
            </p>
         </div>
      </div>
        <div class="main-table">
           <section class="table-header">
              <h2>Clan Discord Link</h2>
           </section>
           <div class="isclaimers">
              <p><strong><a href="https://discord.gg/ERw2EYrY" target="_blank" rel="TEST">https://discord.gg/5CFpPmA2Gv</a></strong>
              </p>
           </div>
        </div>
      <main class="main-table">
         <section class="table-header">
            <h2>Clan Members</h2>
           <div class="export__file">
             <label for="export-file-main-member" class="export__file-btn" title="Export File"></label>
             <input type="checkbox" id="export-file-main-member">
               <div class="export__file-options">
                 <label>Export As &nbsp; &#10140;</label>
                 <label for="export-file-main-member" id="toPDFMainMemberTable">PDF <img src="static/pdf_icon_img_final.png" alt=""></label>
                 <label for="export-file-main-member" id="toJSONMainMemberTable">JSON <img src="static/json_icon_img_final.png" alt=""></label>
                 <label for="export-file-main-member" id="toCSVMainMemberTable">CSV <img src="static/csv_icon_img_final.png" alt=""></label>
                 <label for="export-file-main-member" id="toEXCELMainMemberTable">EXCEL <img src="static/xls_icon_img_final.png" alt=""></label>
               </div>
           </div>
            <div class="input-group">
               <input type="search" placeholder="Search Data...">
               <img src="static/search_img_final.png" alt="">
            </div>
         </section>
         <section class="table-body">
            <table>
               <thead>
                  <tr>
                     <th>Srno<span class="icon-arrow">&UpArrow;</span></th>
                     <th>Name<span class="icon-arrow">&UpArrow;</span></th>
                     <th>War<span class="icon-arrow">&UpArrow;</span></th>
                     <th>War Attack<span class="icon-arrow">&UpArrow;</span></th>
                     <th>Clan Capital<span class="icon-arrow">&UpArrow;</span></th>
                     <th>Clan Games<span class="icon-arrow">&UpArrow;</span></th>
                     <th>Clan Games Maxed<span class="icon-arrow">&UpArrow;</span></th>
                    <th class="sortable-header">
                        <span class="tooltip">Clan Score
                            <span class="tooltiptext">Clan Score = War Attack + Clan Capital + Clan Games * (if Clan Games Maxed = 0 return 1 else return Clan Games Maxed)</span>
                        </span>
                        <span class="icon-arrow">&UpArrow;</span>
                    </th>

                     <th>Status<span class="icon-arrow">&UpArrow;</span></th>
                  </tr>
               </thead>
               <tbody>
                  {% for datam in DM %}
                  <tr>
                     <td>{{datam['srno']}}</td>
                     <td><a href="https://pixelcrux.com/Clash_of_Clans/Profile/App?tag={{datam['playertag']}}" target="_blank" rel="TEST">{{datam['name']}}</td>
                     <td class="war {% if datam['war'] == 'IN' %}in{% else %}out{% endif %}">{{datam['war']}}</td>
                     <td>{{datam['warattack']}}</td>
                     <td>{{datam['clancapital']}}</td>
                     <td>{{datam['clangames']}}</td>
                     <td>{{datam['clangamesmaxed']}}</td>
                     <td>{{datam['clanscore']}}</td>
                     <td class="status {% if datam['status'] == 'Leader' %}leader{% elif datam['status'] == 'Co-leader' %}co-leader{% else %}elder{% endif %}">
                        {{datam['status']}}
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </section>
      </main>
      <main class="main-not-member-table">
         <section class="table-header">
            <h2>Former Clan Members</h2>
           <div class="export__file">
               <label for="export-file-not-member" class="export__file-btn" title="Export File"></label>
               <input type="checkbox" id="export-file-not-member">
               <div class="export__file-options">
                   <label>Export As &nbsp; &#10140;</label>
                   <label for="export-file-not-member" id="toPDFNotMemberTable">PDF <img src="static/pdf_icon_img_final.png" alt=""></label>
                 <label for="export-file-not-member" id="toJSONNotMemberTable">JSON <img src="static/json_icon_img_final.png" alt=""></label>
                 <label for="export-file-not-member" id="toCSVNotMemberTable">CSV <img src="static/csv_icon_img_final.png" alt=""></label>
                 <label for="export-file-not-member" id="toEXCELNotMemberTable">EXCEL <img src="static/xls_icon_img_final.png" alt=""></label>
               </div>
           </div>
            <div class="input-group">
               <input type="search" placeholder="Search Data...">
               <img src="static/search_img_final.png" alt="">
            </div>
         </section>
         <section class="table-body">
            <table>
               <thead>
                  <tr>
                     <th>Srno<span class="icon-arrow">&UpArrow;</span></th>
                     <th>Name<span class="icon-arrow">&UpArrow;</span></th>
                     <th>War Attack<span class="icon-arrow">&UpArrow;</span></th>
                     <th>Clan Capital<span class="icon-arrow">&UpArrow;</span></th>
                     <th>Clan Games<span class="icon-arrow">&UpArrow;</span></th>
                     <th>Clan Games Maxed<span class="icon-arrow">&UpArrow;</span></th>
                    <th class="sortable-header">
                        <span class="tooltip">Clan Score
                            <span class="tooltiptext">Clan Score = War Attack + Clan Capital + Clan Games * (if Clan Games Maxed = 0 return 1 else return Clan Games Maxed)</span>
                        </span>
                        <span class="icon-arrow">&UpArrow;</span>
                    </th>

                  </tr>
               </thead>
               <tbody>
                  {% for datam in DNM %}
                  <tr>
                     <td>{{datam['srno']}}</td>
                     <td>{{datam['name']}}</td>
                     <td>{{datam['warattack']}}</td>
                     <td>{{datam['clancapital']}}</td>
                     <td>{{datam['clangames']}}</td>
                     <td>{{datam['clangamesmaxed']}}</td>
                     <td>{{datam['clanscore']}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </section>
      </main>
      <main class="score-table">
         <section class="table-header">
            <h2>Top Clan Contributors</h2>
           <div class="export__file">
               <label for="export-file-clan-score" class="export__file-btn" title="Export File"></label>
               <input type="checkbox" id="export-file-clan-score">
               <div class="export__file-options">
                   <label>Export As &nbsp; &#10140;</label>
                   <label for="export-file-clan-score" id="toPDFClanScore">PDF <img src="static/pdf_icon_img_final.png" alt=""></label>
                 <label for="export-file-clan-score" id="toJSONClanScore">JSON <img src="static/json_icon_img_final.png" alt=""></label>
                 <label for="export-file-clan-score" id="toCSVClanScore">CSV <img src="static/csv_icon_img_final.png" alt=""></label>
                 <label for="export-file-clan-score" id="toEXCELClanScore">EXCEL <img src="static/xls_icon_img_final.png" alt=""></label>
               </div>
           </div>
            <div class="input-group">
               <input type="search" placeholder="Search Data...">
               <img src="static/search_img_final.png" alt="">
            </div>
         </section>
         <section class="table-body">
            <table>
               <thead>
                  <tr>
                     <th>Name<span class="icon-arrow">&UpArrow;</span></th>
                       <th class="sortable-header">
                           <span class="tooltip">Clan Score
                               <span class="tooltiptext">Clan Score >75</span>
                           </span>
                           <span class="icon-arrow">&UpArrow;</span>
                       </th>

                     </th>
                  </tr>
               </thead>
               <tbody>
                  {% for datam in DM %}
                  {% if datam['clanscore'] > 75 %}
                  <tr>
                     <td>{{datam['name']}}</td>
                     <td>{{datam['clanscore']}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  {% for datam in DNM %}
                  {% if datam['clanscore'] > 75 %}
                  <tr>
                     <td>{{datam['name']}}</td>
                     <td>{{datam['clanscore']}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
               </tbody>
            </table>
         </section>
      </main>
      <div class="main-table">
              <section class="table-header">
                 <h2>API Links</h2>
              </section>
              <div class="isclaimers">
                 <p><strong><a href="https://coc-ancient-ruins-website.onrender.com/api/mem" target="_blank" rel="TEST">https://coc-ancient-ruins-website.onrender.com/api/mem</a></strong>
                 </p>
                 <p><strong><a href="https://coc-ancient-ruins-website.onrender.com/api/fmem" target="_blank" rel="TEST">https://coc-ancient-ruins-website.onrender.com/api/fmem</a></strong>
                   </p>
              </div>
      </div>
      <div class="main-table">
                 <section class="table-header">
                    <h2>GitHub Repositories Links</h2>
                 </section>
                 <div class="isclaimers">
                    <p><strong><a href="https://github.com/Lightning-President-9/coc-ancient-ruins-website" target="_blank" rel="TEST">https://github.com/Lightning-President-9/coc-ancient-ruins-website</a></strong>
                    </p>
                    <p><strong><a href="https://github.com/Lightning-President-9/ClanDataRepo" target="_blank" rel="TEST">https://github.com/Lightning-President-9/ClanDataRepo</a></strong>
                      </p>
                 </div>
      </div>
      <div class="main-table">
         <section class="table-header">
            <h2>Disclaimers</h2>
         </section>
         <div class="disclaimers">
            <ul>
               <li>This website is intended for personal and non-commercial use only.</li>
               <li>The information provided on this website may not be accurate, current, or complete.</li>
               <li>Unauthorized use or reproduction of content is prohibited.</li>
            </ul>
         </div>
      </div>
      <script>
         {% include 'script.js' %}
      </script>
   </body>
</html>