<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ancient Ruins [{{ graph_name }}]</title>
  <link rel="icon" href="/static/clan-badge_17.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">

  <style>
    {% include "graph.css" %}
  </style>

  <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
</head>
<body>
  {% include "navbar.html" %}

  <h1>Graphs - {{ month_year }}</h1>

  <div id="controls-container">
    <form id="fetch-data-form" method="GET">
      <select id="month-year-select" name="month-year" aria-label="Select month">
        <option value="JUN-JUL_2024">JUN-JUL 2024</option>
        <option value="JUL-AUG_2024">JUL-AUG 2024</option>
        <option value="AUG-SEP_2024">AUG-SEP 2024</option>
        <option value="SEP-OCT_2024">SEP-OCT 2024</option>
        <option value="OCT-NOV_2024">OCT-NOV 2024</option>
        <option value="NOV-DEC_2024">NOV-DEC 2024</option>
        <option value="DEC-JAN_2025">DEC-JAN 2025</option>
        <option value="JAN-FEB_2025">JAN-FEB 2025</option>
        <option value="FEB-MAR_2025">FEB-MAR 2025</option>
        <option value="MAR-APR_2025">MAR-APR 2025</option>
        <option value="APR-MAY_2025">APR-MAY 2025</option>
        <option value="MAY-JUN_2025">MAY-JUN 2025</option>
        <option value="JUN-JUL_2025">JUN-JUL 2025</option>
        <option value="JUL-AUG_2025">JUL-AUG 2025</option>
        <option value="AUG-SEP_2025">AUG-SEP 2025</option>
      </select>
      <button type="submit" id="fetch-button">Fetch Data</button>
    </form>
  </div>

  <div id="charts-container"></div>

  <script>
    {% include "graph.js" %}
  </script>
</body>
</html>