<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Ancient Ruins [Graphs]</title>
      <style>
         {% include 'style.css' %}
      </style>
      <link rel="icon" href="../static/clan-badge_15.png">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
   </head>
   <body>
      <div class="container">
      <div class="main-table">
         <section class="table-header">
            <h2>Clan Members Graphs</h2>
         </section>
         <div class="isclaimers">
             <ul>
                 <li><strong>Bar Graph: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/bar" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/bar</a></strong></li>
                 <li><strong>Pie Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/piechart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/piechart</a></strong></li>
                 <li><strong>Line Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/linechart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/linechart</a></strong></li>
                 <li><strong>Scatter Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/scatterplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/scatterplot</a></strong></li>
                 <li><strong>Histogram: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/histogram" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/histogram</a></strong></li>
                 <li><strong>Box Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/boxplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/boxplot</a></strong></li>
                 <li><strong>Violin Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/violinplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/violinplot</a></strong></li>
                 <li><strong>Heatmap: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/heatmap" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/heatmap</a></strong></li>
                 <li><strong>Treemap: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/treemap" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/treemap</a></strong></li>
                 <li><strong>Sunburst Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/sunburstchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/sunburstchart</a></strong></li>
                 <li><strong>Density Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/densityplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/densityplot</a></strong></li>
                 <li><strong>3D Scatter Plot: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/3dscatterplot" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/3dscatterplot</a></strong></li>
                 <li><strong>Area Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/areagraph" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/areagraph</a></strong></li>
                 <li><strong>Polar Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/polarchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/polarchart</a></strong></li>
                 <li><strong>Funnel Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/funnelchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/funnelchart</a></strong></li>
                 <li><strong>Waterfall Chart: <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem/waterfallchart" target="_self" rel="self">https://coc-ancient-ruins-website.onrender.com/graph/mem/waterfallchart</a></strong></li>
             </ul>
         </div>
      </div>
     </div>
   </body>
</html>