<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ancient Ruins [Graphs]</title>

  <style>
    {% include 'style.css' %}
  </style>

  <link rel="icon" href="/static/clan-badge_16.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    {% include "navbar.html" %}

    <div class="main-table">
      <section class="table-header">
        <h2>Clan Members Monthly Analysis</h2>
      </section>

      <div class="graphs-container">
        {% for graph in [
          "bar", "piechart", "linechart", "scatterplot", "histogram", "boxplot",
          "violinplot", "heatmap", "treemap", "sunburstchart", "densityplot",
          "3dscatterplot", "areagraph", "polarchart", "funnelchart", "waterfallchart"
        ] %}
          <div class="graph-item">
            <a href="https://coc-ancient-ruins-website.onrender.com/graph/mag/{{ graph }}" target="_self" rel="self">
              <img src="/static/graph-icons/{{ graph }}.png" alt="{{ graph|capitalize }} Chart" class="graph-icon">
            </a>
            <p class="graph-label">{{ graph|capitalize }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>