<nav class="navbar">
  <a href="https://coc-ancient-ruins-website.onrender.com/" class="nav-item">
    <img src="/static/nav-bar-icons/home_img.png" alt="Home" class="nav-icon">
  </a>

  <div class="dropdown">
    <a class="nav-item">
      <img src="/static/nav-bar-icons/api_img.png" alt="API" class="nav-icon">
    </a>
    <div class="dropdown-content">
      <a href="https://coc-ancient-ruins-website.onrender.com/api/mem">Clan Members API</a>
      <a href="https://coc-ancient-ruins-website.onrender.com/api/fmem">Former Members API</a>
      <a href="https://coc-ancient-ruins-website.onrender.com/api/chatbot">AR STATS BOT API</a>
    </div>
  </div>

  <div class="dropdown">
    <a class="nav-item">
      <img src="/static/nav-bar-icons/graph_img.png" alt="Graph" class="nav-icon">
    </a>
    <div class="dropdown-content">
      <a href="https://coc-ancient-ruins-website.onrender.com/graph/mem">Clan Members Graph</a>
      <a href="https://coc-ancient-ruins-website.onrender.com/graph/fmem">Former Clan Members Graph</a>
      <a href="https://coc-ancient-ruins-website.onrender.com/graph/mag">Clan Members Months Graphs</a>
      <a href="https://coc-ancient-ruins-website.onrender.com/all-mon-ana-graph">All Months Analysis Graphs</a>
    </div>
  </div>

  <div class="dropdown">
    <a class="nav-item">
      <img src="/static/nav-bar-icons/ai_img.png" alt="AI" class="nav-icon">
    </a>
    <div class="dropdown-content">
      <a href="https://coc-ancient-ruins-website.onrender.com/ai/prediction">AI Prediction</a>
      <a href="https://coc-ancient-ruins-website.onrender.com/ai/chat">AR STATS BOT</a>
    </div>
  </div>

  <div class="dropdown">
    <a class="nav-item">
      <img src="/static/nav-bar-icons/github_img.png" alt="GitHub" class="nav-icon">
    </a>
    <div class="dropdown-content">
      <a href="https://github.com/Lightning-President-9/coc-ancient-ruins-website">Website Repo</a>
      <a href="https://github.com/Lightning-President-9/ClanDataRepo">Clan Data Repo</a>
      <a href="https://github.com/Lightning-President-9/ClanDataRetriveFromAPI">API Retrieve Repo</a>
    </div>
  </div>

  <a href="https://link.clashofclans.com/en?action=OpenClanProfile&tag=2PP0P22CQ" class="nav-item">
    <img src="/static/nav-bar-icons/invite_img.png" alt="Invite" class="nav-icon">
  </a>

  <a href="https://discord.gg/XyucEsBhGs" class="nav-item">
    <img src="/static/nav-bar-icons/discord_img.png" alt="Discord" class="nav-icon">
  </a>
</nav>