<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    <div class="container">
      {% include 'navbar.html' %}
      <div class="main-table">
        <section class="table-header">
          <h2>Attacks</h2>
        </section>
        <div class="isclaimers">
          <p>
            <a href="https://coc-ancient-ruins-website.onrender.com/coc-data/capital-raids/attacks/latest">https://coc-ancient-ruins-website.onrender.com/coc-data/capital-raids/attacks/latest</a>
          </p>
          <p>
            <a href="https://coc-ancient-ruins-website.onrender.com/coc-data/capital-raids/attacks/all">https://coc-ancient-ruins-website.onrender.com/coc-data/capital-raids/attacks/all</a>
          </p>
        </div>
      </div>
      <div class="main-table">
        <section class="table-header">
          <h2>Defences</h2>
        </section>
        <div class="isclaimers">
          <p>
            <a href="https://coc-ancient-ruins-website.onrender.com/coc-data/capital-raids/defences/latest">https://coc-ancient-ruins-website.onrender.com/coc-data/capital-raids/defences/latest</a>
          </p>
          <p>
            <a href="https://coc-ancient-ruins-website.onrender.com/coc-data/capital-raids/defences/all">https://coc-ancient-ruins-website.onrender.com/coc-data/capital-raids/defences/all</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>